
{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <h1>Gordon Cummings - Photographer</h1>
    <div>
        <div class="about">
            <img src="{% static 'img/logo.png' %}" alt="logo" height="350" width="350"/>
            <div class="about-content">
                <h2>Profile</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam autem quae iure, sit esse asperiores quaerat distinctio ratione voluptas deleniti, veniam dignissimos eligendi adipisci neque aperiam blanditiis necessitatibus accusantium pariatur.
                </p>
            </div>
        </div>
    </div>
 
{% endblock content %}
