{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

    <h1>Portfolio</h1>
    <div class="photos">
        <img src="{% static 'img/logo.png' %}" alt="logo" height="350" width="350"/>
        <img src="{% static 'img/logo.png' %}" alt="logo" height="350" width="350"/>
        <img src="{% static 'img/logo.png' %}" alt="logo" height="350" width="350"/>
        <img src="{% static 'img/logo.png' %}" alt="logo" height="350" width="350"/>
        <img src="{% static 'img/logo.png' %}" alt="logo" height="350" width="350"/>
    </div>
{% endblock content %}
