{% load static %}
<footer>
    <ul >
        <li>Fuentes</li>
        <li>
            <a href="https://www.dafont.com/es/caviar-dreams.font"
               target="_blank"
               rel="noopener noreferrer">Caviar Dreams Font</a>
        </li>
        <li>
            <a href="https://www.dafont.com/es/louis-george-caf.font"
               target="_blank"
               rel="noopener noreferrer">Louis George Café
            </a>
        </li>
    </ul>
    <ul>
        <li>Redes</li>
        <li>
            <a href="#!"
               target="_blank"
               rel="noopener noreferrer">LinkedIn</a>
        </li>
        <li>
            <a href="#!"
               target="_blank"
               rel="noopener noreferrer">Instagram</a>
        </li>
        <li>
            <a href="#!"
               target="_blank"
               rel="noopener noreferrer">Pinterest</a>
        </li>
    </ul>
</footer>
